<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bullshit Bingo</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/bingo-card.css">
		<link rel="stylesheet" type="text/css" href="/css/chat.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<span class="navbar-brand">
							Bullshit Bingo
						</span>
					</div>
				</div>
			</nav>
			<%- body %>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/vendor/redips-drag-min.js"></script>
		<script src="/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
		<script src="/jqcloud2/dist/jqcloud.min.js"></script>

		<link rel="stylesheet" href="/jqcloud2/dist/jqcloud.min.css">
		<script type="text/javascript">
			if (typeof(init) == 'function') {
				$(document).ready(init)
			}	
		</script>
	</body>
</html>