<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Login (<a href="/register" style="text-decoration: underline;">Need an Account?</a>)</div>
		</div>
		<div style="padding-top:30px" class="panel-body">
			<form class="form-horizontal" role="form" action="/login" method="POST">
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-user"></i>
					</span>
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="0muster">
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
					<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button type="submit" class="btn-login btn btn-success">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>