<div class="row">
	<div class="col-md-12">
		<form action="/leave" method="POST" id="detachForm" class="inline">
			<input type="hidden" name="symbol" value="<%= room.symbol %>">
			<button type="button" class="btn btn-success" id="ready">Ready?</button>
			<button type="submit" class="btn btn-danger">Leave</button>
		</form>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-8 col-xs-12">
		<table class="bingo-card live">
			<thead>
				<tr>
					<th class="title" colspan="5"><%= room.displayname %> - Bullshit Bingo</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < 5; i++) { %>
						<tr>
							<% for (var j = 0; j < 5; j++) { %>
								<% /* joker handling in the center*/ %>
								<% if (i == 2 && i == j) { %>
									<td id="joker">Joker</td>
								<% } else { %>
									<td></td>
								<% } %>
							<% } %>
						</tr>
					<% } %>
			</tbody>
		</table>
		<div id="redips-drag">
			<table class="bingo-card plan">
				<thead>
					<tr>
						<th class="title redips-mark" colspan="5"><%= room.displayname %> - Bullshit Bingo</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < 5; i++) { %>
						<tr>
							<% for (var j = 0; j < 5; j++) { %>
								<% /* joker handling in the center*/ %>
								<% if (i == 2 && i == j) { %>
									<td class="redips-mark">Joker</td>
								<% } else { %>
									<td>
										<div class="redips-drag">
											<input type="text" />
											<span class="glyphicon glyphicon-move"></span>
										</div>
									</td>
								<% } %>
							<% } %>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<h3>Players</h3>
		<ul id="userlist">
		</ul>
		<p>
			Share the symbol <code><%= room.symbol %></code> with your friends, so they can play with you!
		</p>
		<hr />
		<h3>Chat</h3>
		<div class="chat">
			<ul class="messages" id="messages">
			</ul>
			<form action="" class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="msg">Your message</label>
					<input type="text" class="form-control" id="msg" placeholder="Deine Nachricht..." autocomplete="off">
				</div>
				<button type="submit" class="btn btn-primary">
					Send
					<span class="glyphicon glyphicon-send"></span>
				</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h4>Recommendations</h4>
		<div id="recommendations"></div>
	</div>
</div>

<div id="bingo_popup" class="screen_centered" style="display: none;">
	<img src="http://paloaltoccb.org/wp-content/uploads/sites/2/2015/06/BINGO.png" alt="BINGO!">
</div>
<script src="/js/main.js"></script>