<div class="alert alert-danger" role="alert" id="alert_box" style="display: none;">
	<strong>Error:</strong>
	<p id="msg"></p>
</div>
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Registration</div>
		</div>
		<div style="padding-top:30px" class="panel-body">
			<form class="form-horizontal" role="form" action="/register" method="POST">
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-user"></i>
					</span>
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="0muster">
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-user"></i>
					</span>
					<input id="login-displayname" type="text" class="form-control" name="displayname" value="" placeholder="Max">
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
					<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</span>
					<input id="login-password_conf" type="password" class="form-control" name="password_confirm" placeholder="password confirmation">
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button type="submit" class="btn-login btn btn-success">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function init () {
			var err = getParameterByName('err');
			if (err) {
				$('#msg').text(err);
				$('#alert_box').show();
			}
	}

	function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)", "i"),
		    results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
</script>