<div class="row">
	
	<div class="col-s-12 text-center">
		<button class="btn btn-success btn-large" id="bJoin">
			Join Room
		</button>
		<button class="btn btn-success btn-large" id="bCreate">
			Create Room
		</button>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12 col-md-2 col-md-offset-5">

		<form id="create" action="/create" method="POST">
			<div class="form-group">
				<label for="name">Name</label>
				<input id="name" type="text" class="form-control" name="name" />
			</div>
			<div class="form-group">
				<label for="password">Password (optional)</label>
				<input id="password" type="text" class="form-control" name="password" />
			</div>
			<div class="form-group">
				<button class="btn" type="submit">Create</button>
			</div>
		</form>

		<form id="join" action="/join" method="POST">
			<div class="form-group">
				<label for="symbol">Symbol</label>
				<input id="symbol" type="text" class="form-control" name="symbol" />
			</div>
			<div class="form-group">
				<button class="btn" type="submit">Join</button>
			</div>
		</form>

	</div>
</div>
<div class="row">
	<% for (var symbol in rooms) { %>
		<div style="margin: 3px;" class="dropdown col-xs-12 col-md-2 col-lg-1">
			<button
				class="btn btn-default dropdown-toggle"
				type="button"
				id="dropdownMenu<%= rooms[symbol].symbol %>"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="true"
				>
				<%= rooms[symbol].displayname %>
				<span class="badge">
					<%= Object.keys(rooms[symbol].users).length %>
				</span>
				<span class="caret"></span>
			</button>
			<ul
				class="dropdown-menu"
				aria-labelledby="dropdownMenu<%= rooms[symbol].symbol %>"
				>
				<li class="dropdown-header">Symbol: <code><%= symbol %></code></li>
				<li class="dropdown-header">
					Created by: <%= rooms[symbol].owner.displayname %>
					(<%= rooms[symbol].owner.username %>)
				</li>
				<li role="separator" class="divider"></li>
				<form class="dropdown-header" action="/join" method="POST">
					<input type="hidden" name="symbol" value="<%= symbol %>" />
					<% if (rooms[symbol].password) { %>
					<div class="form-group">
						<label for="password">Password</label>
						<input id="password" type="password" class="form-control" name="password" />
					</div>
					<% } %>
					<div class="form-group">
						<button class="btn" type="submit">Join</button>
					</div>
				</form>
			</ul>
		</div>
	<% } %>
</div>

<script type="text/javascript">
	function init() {
		$('#create, #join').hide();

		$('#bJoin').click(function() {
			$('#join').show();
			$('#create').hide();
		});
		$('#bCreate').click(function() {
			$('#create').show();
			$('#join').hide();
		});
	}
</script>