.bingo-card {
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-right: 1em;
}

/* hide live card by default */
.bingo-card.live {
	display: none;
}

.bingo-card td, th {
	border: 1px solid black;
	text-align: center;
}

.bingo-card th {
	background-color: black;
	color: white;
	font-size: 24px;
}

.bingo-card td {
	background-color: white;
	width: 100px;
	height: 100px;
}

.bingo-card td input {
	width: 100%;
}

/** joker **/
.bingo-card tr:nth-child(3) td:nth-child(3) {
	background-color: #DDDDDD;
}

.bingo-card td.punched {
	background-color: #99ff66;
}