.chat .messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 300px;
	overflow:auto;
}

.chat .messages li {
	padding: 5px 10px;
}

.chat .messages li:nth-child(odd) {
	background: #eee;
}

.chat .messages .username {
	font-weight: bold;
}

.chat .messages .username:after {
	content: ': '
}